
 
 html,body{
  overflow-x: hidden; 
  height:100%;
  width:100vw;
  margin:0;
  padding:0;
  scroll-behavior:smooth;
  font-family: Consolas, monospace;
  padding-left: 0;
  padding-right:0;
  overscroll-behavior: none;

 } 
 body{
   height:100vh;
   background:rgb(0, 0, 0);
 }
 .cursor{
      width: 2000px;
      height: 2000px; 
      /* border:1px solid white; */
      border-radius: 50%;
      position: absolute; 
      background-image: radial-gradient(
        circle, 
        rgba(18, 87, 183, 0.3) 0%, rgba(0, 0, 0, 0) ,
        transparent 80%
      );
      z-index: -1;
 }

 #header{
   width: 100%;
   height: auto;
   min-height: 100%;
   margin:0;
   padding-left: 0;
   padding-right: 0;
   background-size: cover;
   background-position: center;
   font-size: large;
   font-family: Consolas, monospace;
    }

 .container{
  box-sizing: border-box;
  padding-left: 0;
  padding-right: 0;
 }
 #menu{
  box-sizing: border-box;
  margin:0;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  height:6vh;
  padding-left: 0;
  padding-right: 0;
  background-size: cover;
  background-position: center;
  font-size: large;
  color: #ffd602;
  font-family: Consolas, monospace;
}


 nav{
   display:flex;
   align-items: center;
   justify-content: space-between;
   flex-wrap: wrap;
   padding-left: 0;
   padding-right: 0;
   color: #ffd602;
 }
.logo{
  width:250px;
  height: auto;
  padding-left: 20;
  padding-right: 0;
}
nav ul li{
  display:inline-block;
  list-style: none; 
  margin: 10px 20px;
  padding-left: 0;
  padding-right: 0;
  text-decoration: none!important;
  color: #ffd602!important;
}
nav ul li a{
  color: #ffd602;
  text-decoration: none!important;;
  text-decoration-color: #ffd602;
  font-size: 18px;
  font-family: Consolas, monospace;
  position: relative;
  padding-left: 0;
  padding-right: 0;
  color: #ffd602!important;
}
nav ul li a::after{
  content:'';
  width: 0;
  text-decoration: none!important;;
  height: 4px;
  background:#ffd602;
  position: absolute;
  left:0;
  bottom:-4px;
  transition: 0.5s;
  padding-left: 0;
  padding-right: 0;
  color: #ffd602
}
nav ul li a:hover::after{
  width: 100%;
  padding-left: 0;
  text-decoration: none!important;;
  padding-right: 0;
  text-decoration-color: #ffd602;
  color: #ffd602
}
.header-text{
  Margin-top: 8vh;
  font-size: 20px;
  color: #ffd602;
  font-family: Consolas, monospace; 
  padding-left: 0;
  padding-right: 0;
  text-align:center;
}
.starter-text{
  justify-content:center;
  Margin-top: 8vh;
  font-size: 20px;
  color: #8b8b8b;
  font-family: Consolas, monospace; 
  padding-left: 30;
  padding-right: 0;
  text-align:left;
  margin-bottom:0;
}
.name{
  justify-content:center;
  Margin-top: 8vh;
  font-size: 60px;
  color: #efefef;
  font-family: Consolas, monospace; 
  padding-left: 30;
  padding-right: 0;
  text-align:left;
  margin-bottom:0;
  margin-top:0;
}
.job-title{
  justify-content:center;
  Margin-top: 8vh;
  font-size: 40px;
  color: #dbd9fc;
  font-family: Consolas, monospace; 
  padding-left: 30;
  padding-right: 0;
  text-align:left;
  margin-bottom:0;
  margin-top:0;
}
.after-text{
  justify-content:center;
  Margin-top: 8vh;
  font-size: 25px;
  color: #c3c3c3;
  font-family: Consolas, monospace; 
  padding-left: 30;
  padding-right: 10%;
  text-align:left;
  margin-bottom:0;
  margin-top:0;

}

.header-text h1 span{
  color: #dddcdc;
  padding-left: 0;
 padding-right: 0;
}

/* ---------------------- About me Section------------------ */

#about{
  padding: 20px 0;
  padding-left: 40px;
  padding-right: 20px;
  color: 8b8b8b;
  font-family: Consolas, monospace;
  font-size: 25;
  min-height: 100%;
  height:auto;
}
.row{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}

.about-col-2{
  flex-basis:100%;
}
.sub-title{
  font-size:60;
  font-weight:bold;
  color: #efefef;

}
.tab-titles{
  display: flex;
  margin: 20px 0 40px;
}
.tab-links{
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor:pointer;
  position: relative;
  color: #ffd602;
}
.tab-links::after{
  content: '';
  width: 0;
  height: 3px;
  background: #ffd602;
  position: absolute;
  left:0;
  bottom: -3px;
  transition: 0.5s;


}
.tab-links.active-link::after{
  width:100%;
}

.tab-contents ul li{
  list-style: none;
  margin: 10px 0;
  padding-right: 10%;
}

.tab-contents ul li span{
  color: #dbd9fc;
  font-size: 14px;
}
.tab-contents ul p{
  color: #dbd9fc;
  font-size: 14px;
  padding-right: 10%;
}
.tab-contents ul p span u{
  list-style: none;
  margin: 15px 0;
  padding-right: 10%;
  color: #efefef;

}
.tab-contents{
  display: none;
  padding-right: 10%;
}
.tab-contents.active-tab{
  display: block;
  color: #efefef;
}

/* ---------------------------------------------Portfolio-------------------------------------------------------- */
#portfolio{
  padding: 20px 0;
  padding-left: 40px;
  padding-right: 20px;
  /* padding: 20px 0;
  padding-left: 20px;
  padding-right: 20px; */
  min-height: 100%;
  height: auto;

}
.intro{
  color:#dbd9fc
}

.services-list{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(350px,1fr));
  grid-gap: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.services-list div{
  color: #dbd9fc;
  padding: 40px;
  font-size:13px;
  font-weight:300;
  border-radius:5px;
  transition: background 0.5s, transform 0.5s;
}
.services-list div i{
  font-size: 50px;
}
.services-list div h2{
  font-size: 30px;
  font-weight:500;
  margin-bottom:5px;
  margin-top:5px;
} 
.services-list div a{
  text-decoration:none;
  color: #ffd602;
  font-size:12px;
  margin-top: 5px;
  display: inline-block;
}
.services-list div:hover{
  background: rgb(33, 51, 99);
  
}
.seemore{
  display:flex; 
  justify-content: center;
}
.btn{
  display: inline-block;
  text-align: center;
  color: #ffd602;  
}
.btn:hover{
  display: inline-block;
  text-align: center;
  background-color:rgb(33, 51, 99);
  color: #ffd602;
}

/* --------------------Contact------------------------ */
#contact{
  padding: 20px 0;
  padding-left: 20px;
  padding-right: 20px;
  height: 100%;
  overflow-y: hidden;
}
.contact-left{
  flex-basis: 35%;

}
.contact-right{
  flex-basis: 60%;
  
}
.contact-left p{
  margin-top:30px;
  color: #dbd9fc; 

}
.contact-left p i{
  color: #dbd9fc;
  margin-right:15px;
  font-size: 25px;

}
.social-icons{
  margin-top: 30px;
}
.social-icons a{
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: #ffd602;
  display: inline-block;

}
.social-icons a:hover{
  color:#ffd602;
  transform:scale(1.2);
  transition: transform 0.5s;
}
.btn.btn2{
  display:inline-block;
  color: #ffd602;
background: rgb(24 37 72);
}
.contact-right form{
  width:100%;

}
form input, form textarea{
  width:98%;
  border:0;
  outline:none;
  background:rgba(33, 51, 99,0.5);
  margin: 15px 0;
  color: #c586c0;
  padding: 15px;


}
form .btn2{
  width:98%;
  padding: 14px 60px;
  font-size: 18px;
  margin-top: 5px;
  cursor: pointer;
  background: rgba(33, 51, 99,0.5);
  color: #c586c0;
}

.success{
  display:none;
}


#copyright{
  width: 100%;
  text-align:center;
  padding: 1px 0;
  color:#dbd9fc;
  font-weight:300;
  max-height: 40px;
  position: relative;
  bottom:0;
  margin-top: auto;
}

/* ------------------------------------- CSS for small screen -------------------------------------------- */

nav .fa-solid {
  display:none;
  color: #ffd602;
}

@media only screen and (max-width:600px){
  #header{
    ;
  }
  .header-text{
    margin-top:20%;
    font-size:16px;
    color: #ffd602;
  }
  .header-text h1{
    font-size:30px;
    color: #ffd602;

  }
  nav .fa-solid{
    display:block;
    font-size:25px;
    padding-right: 10px;
  }
  nav ul{
    position: fixed;
    top: 0;
    right:-200px;
    width: 200px;
    height: 100vh;
    padding-top:50px;
    background:rgb(0, 0, 0);
    z-index: 2;
    transition: right 0.5s;
    color: #ffd602;


  }
  nav ul li{
    display: block; 
    margin: 25px;
  }
  nav ul .fa-solid{
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
  }
  .sub-title{
    font-size:40px;

  }
  .about-col-2{
    font-size:14px;
  }
  .tab-links{
    font-size: 16px;
    margin-right:20px;
  }
  #contact{
    min-height: 100%;
    height: auto;
  }
  .contact-left, .contact-right{
    flex-basis: 100%;
  }
  .success{
    display:none;
  } 
  .copyright{
    width: 100%;
    text-align:center;
    padding: 1px 0;
    color:#dbd9fc;
    font-weight:300;
    max-height: 40px;
    position: relative;
    bottom:0;
    margin-top: auto;
  }
}